*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  font-size: 62.5%;
  margin: 0 !important;
  padding: 0 !important;
  font-family: 'Lato', sans-serif; }

body {
  position: absolute; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #081624;
  font-weight: 600; }

p {
  font-size: 18px;
  color: #73778e;
  line-height: 1.6; }

input:focus,
select:focus,
button:focus,
textarea:focus {
  outline: none; }

a,
a:hover,
a:focus {
  text-decoration: none;
  outline: none; }

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none; }

section {
  padding-top: 8rem !important; }

.heading1__title {
  color: #192C4C;
  font-weight: 900;
  font-size: 3.5rem;
  border-left: 8px solid #CE9523;
  padding-left: 2rem; }

.heading2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 3rem 0 3rem 0; }
  .heading2__subtitle {
    color: #909090; }
  .heading2__title {
    color: #192C4C;
    font-weight: 700;
    font-size: 3.5rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem; }
  .heading2 .separator {
    height: .3rem;
    width: 6rem;
    background-color: #CE9523; }

.heading3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0 0 2.5rem 0;
  text-align: center; }
  .heading3__subtitle {
    color: #eee;
    font-weight: 700; }
  .heading3__title {
    color: #fff;
    font-weight: 700;
    font-size: 5rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem; }
    @media only screen and (max-width: 991px) {
      .heading3__title {
        font-size: 3.5rem; } }
  .heading3 .separator {
    height: .4rem;
    width: 6rem;
    background-color: #CE9523;
    margin: auto; }

.heading4 {
  text-align: center;
  color: #192C4C;
  font-weight: 900;
  font-size: 3.5rem;
  margin-bottom: 4rem; }

.footer {
  background: #192C4C;
  margin-top: 5rem;
  padding: 5rem 10rem; }
  @media only screen and (max-width: 991px) {
    .footer {
      padding: 5rem 5rem; } }
  @media only screen and (max-width: 575px) {
    .footer {
      padding: 5rem 3rem; } }
  @media only screen and (max-width: 575px) {
    .footer div {
      text-align: center; } }
  .footer h5 {
    font-size: 2rem;
    color: #fff;
    margin-top: 1rem; }
  .footer__title img {
    width: 20rem; }
  .footer__title p {
    font-size: 1.2rem;
    color: #fff;
    margin-top: 1rem;
    width: 90%;
    font-weight: 700; }
    @media only screen and (max-width: 575px) {
      .footer__title p {
        text-align: center;
        margin: auto; } }
  .footer__menu ul {
    margin-top: 1rem;
    -webkit-columns: 2;
    columns: 2; }
    .footer__menu ul li {
      font-size: 1.1rem;
      line-height: 2.3rem; }
      .footer__menu ul li a {
        color: #fff; }
  .footer__social__icons {
    margin-top: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
    @media only screen and (max-width: 575px) {
      .footer__social__icons {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; } }
  .footer__social a:not(:last-child) {
    margin-right: 1rem; }
  .footer__social a svg {
    width: 40px;
    height: 40px;
    fill: #fff;
    border-radius: 50%;
    border: 1px solid #CE9523;
    padding: 0.8rem; }

.header {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: top;
  position: relative;
  margin: 0 !important;
  padding: 0 !important; }
  .header .carousel .carousel-item img {
    height: 100vh;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center; }
  .header .carousel .carousel-item .header__text-box {
    position: absolute;
    top: 50%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding-left: 7rem;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
    @media only screen and (max-width: 767px) {
      .header .carousel .carousel-item .header__text-box {
        padding-left: 0;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center; } }
    .header .carousel .carousel-item .header__text-box .header__text {
      color: #fff;
      font-size: 4rem;
      line-height: 4.5rem;
      font-weight: 700;
      letter-spacing: .1rem;
      width: 40%; }
      @media only screen and (max-width: 991px) {
        .header .carousel .carousel-item .header__text-box .header__text {
          font-size: 3.5rem;
          width: 60%; } }
      @media only screen and (max-width: 575px) {
        .header .carousel .carousel-item .header__text-box .header__text {
          font-size: 2.5rem;
          width: 80%; } }

ol.carousel-indicators li {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-bottom: 8rem;
  background-color: transparent;
  border: 3px solid #fff; }

ol.carousel-indicators li:not(:last-child) {
  margin-right: 2rem; }

ol.carousel-indicators li.active {
  background-color: #CE9523; }

.navigation {
  background: #192C4C;
  padding: 1rem 3rem;
  top: 0;
  left: 0;
  z-index: 200;
  position: fixed;
  width: 100%; }
  .navigation .site-logo {
    width: 15rem; }
  @media only screen and (max-width: 991px) {
    .navigation .main-menu {
      background: #192C4C; } }
  .navigation .main-menu__item {
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    color: #fff;
    font-weight: 600; }
    @media only screen and (max-width: 991px) {
      .navigation .main-menu__item {
        width: 80%;
        text-align: center;
        margin: auto auto; } }
    @media only screen and (max-width: 1180px) {
      .navigation .main-menu__item {
        letter-spacing: 0;
        font-size: 1.2rem; } }
    @media only screen and (max-width: 575px) {
      .navigation .main-menu__item {
        letter-spacing: 0;
        font-size: 1.2rem; } }
  .navigation .main-menu__link {
    text-decoration: none;
    color: #fff;
    -webkit-transition: .5s color;
    transition: .5s color; }
    .navigation .main-menu__link:hover {
      color: #CE9523; }
    @media only screen and (max-width: 991px) {
      .navigation .main-menu__link {
        letter-spacing: 0.3rem; } }

.nav-button span {
  display: block;
  height: 2px;
  width: 3rem;
  background: white; }

.nav-button span:not(:last-child) {
  margin-bottom: 7px; }

.social-container {
  position: absolute;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  right: 60px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .social-container a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border: 3px solid #CE9523;
    border-radius: 50%;
    margin-bottom: 2rem;
    color: #fff;
    font-size: 22px; }
    .social-container a svg {
      width: 35px;
      height: 35px;
      fill: #fff; }

@media only screen and (max-width: 767px) {
  .social-container {
    height: 60px;
    right: 0;
    top: 140px;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
    .social-container a {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      width: 60px;
      height: 60px;
      font-size: 14px;
      margin: 0 1rem; }
      .social-container a svg {
        width: 30px;
        height: 30px;
        fill: #fff; } }

.primary-button {
  outline: none;
  border: 2px solid #CE9523;
  font-size: 1.6rem;
  background: transparent;
  padding: 0.6rem;
  color: #192C4C;
  font-weight: 500;
  width: 13rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }
  .primary-button:hover {
    background-color: #CE9523;
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  .primary-button--lg {
    color: #fff;
    width: 16rem;
    padding: 1.2rem; }
  .primary-button--modal {
    width: 7rem; }
  .primary-button--white {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 100;
    color: #fff;
    border: 3px solid #fff;
    font-weight: 800;
    text-transform: uppercase;
    width: 20rem;
    padding: 1.5rem;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: .5; }
    .primary-button--white:hover {
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%) scale(1.1);
      transform: translate(-50%, -50%) scale(1.1);
      color: #fff; }

.items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media only screen and (max-width: 991px) {
    .items {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.item {
  padding: 2rem; }
  .item__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .item__icon img {
      width: 30rem; }
      @media only screen and (max-width: 991px) {
        .item__icon img {
          width: 25rem; } }
      @media only screen and (max-width: 575px) {
        .item__icon img {
          width: 20rem; } }
  .item__title {
    font-size: 2.3rem;
    text-align: center;
    color: #192C4C;
    font-weight: 800;
    margin-bottom: 2rem;
    margin-top: 2rem; }
  .item__text {
    text-align: center;
    font-size: 1.8rem;
    height: 10rem;
    color: #909090; }
    @media only screen and (max-width: 991px) {
      .item__text {
        font-size: 1.6rem;
        height: auto; } }
    @media only screen and (max-width: 575px) {
      .item__text {
        font-size: 1.4rem;
        height: auto; } }

.section__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media only screen and (max-width: 575px) {
    .section__img {
      position: absolute;
      opacity: 0.2;
      -webkit-transform: translateX(-15rem);
      transform: translateX(-15rem); } }
  .section__img img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
    @media only screen and (max-width: 991px) {
      .section__img img {
        -webkit-transform: scale(1);
        transform: scale(1); } }

.section__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media only screen and (max-width: 991px) {
    .section__text {
      padding: 2rem; } }
  @media only screen and (max-width: 575px) {
    .section__text {
      padding: 2rem; } }
  .section__text p {
    font-size: 1.8rem;
    margin-bottom: 2rem; }
  .section__text ul {
    margin-bottom: 2rem; }
    .section__text ul li {
      font-size: 1.4rem;
      color: #909090; }
      .section__text ul li div {
        height: 1.4rem;
        width: 1.4rem;
        margin-right: 1rem;
        background-color: #CE9523;
        display: inline-block;
        border-radius: 50%; }

.message {
  padding: 1.5rem;
  height: 7rem;
  border-radius: 0.5rem;
  bottom: 0;
  opacity: 0;
  left: 0;
  width: 100%;
  z-index: 400;
  position: absolute;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: fixed; }
  .message p {
    color: #fff;
    font-size: 1.7rem;
    text-align: center; }
    @media only screen and (max-width: 991px) {
      .message p {
        text-align: left;
        font-size: 1.5; } }
    @media only screen and (max-width: 575px) {
      .message p {
        text-align: left;
        font-size: 1.4; } }
  .message--success {
    background-color: #1dd1a1; }
  .message--error {
    background-color: #ff6b6b; }

.modal-mod__header {
  font-size: 1.4rem;
  border-bottom: 1px solid #CE9523; }

.modal-mod__body {
  padding: 2rem; }
  .modal-mod__body p {
    font-size: 1.1rem; }

.section-about {
  font-size: 2rem; }
  .section-about .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
    align-items: center; }
    .section-about .icons .icon img {
      width: 20rem; }
      @media only screen and (max-width: 991px) {
        .section-about .icons .icon img {
          width: 12rem; } }
      @media only screen and (max-width: 575px) {
        .section-about .icons .icon img {
          width: 7rem; } }
  .section-about p {
    width: 70%;
    text-align: center;
    margin: auto;
    padding-bottom: 2rem;
    font-size: 1.9rem;
    font-weight: 700; }
    @media only screen and (max-width: 991px) {
      .section-about p {
        width: 80%;
        font-size: 1.6rem; } }
    @media only screen and (max-width: 575px) {
      .section-about p {
        width: 80%;
        font-size: 1.4rem; } }

.section-wallet {
  font-size: 2rem;
  padding-right: 6rem;
  padding-bottom: 35rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0))), url(/img/wallet-bg.png);
  background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url(/img/wallet-bg.png); }
  @media only screen and (max-width: 1180px) {
    .section-wallet {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      padding-right: 0;
      background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0.8))), url(/img/wallet-bg.png);
      padding-bottom: 15rem; } }
  @media only screen and (max-width: 575px) {
    .section-wallet {
      padding-right: 0rem;
      padding: 2rem;
      background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.9)), to(rgba(255, 255, 255, 0.9))), url(/img/wallet-bg.png);
      padding-bottom: 3rem; } }

.section-luxury {
  height: 80vh;
  background: #192C4C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-size: cover;
  background-position: top;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(25, 44, 76, 0.8)), to(rgba(25, 44, 76, 0.8))), url(/img/planet.jpg);
  background-image: linear-gradient(to right bottom, rgba(25, 44, 76, 0.8), rgba(25, 44, 76, 0.8)), url(/img/planet.jpg); }
  @media only screen and (max-width: 991px) {
    .section-luxury {
      height: 75vh; } }
  .section-luxury p {
    width: 40%;
    text-align: center;
    font-size: 2rem;
    color: #fff;
    margin-bottom: 3rem;
    font-weight: 700; }
    @media only screen and (max-width: 991px) {
      .section-luxury p {
        width: 70%;
        font-size: 1.6; } }
    @media only screen and (max-width: 575px) {
      .section-luxury p {
        font-size: 1.4rem; } }

.section-projects .projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media only screen and (max-width: 991px) {
    .section-projects .projects {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }
  .section-projects .projects :nth-child(2) {
    background: #454e82; }
    .section-projects .projects :nth-child(2) img {
      opacity: 0.2; }
  .section-projects .projects .project {
    margin: 1rem;
    position: relative; }
    .section-projects .projects .project img {
      -webkit-filter: blur(3px);
      filter: blur(3px); }

.section-proposals img {
  width: 40rem; }

.section-info {
  padding-left: 10rem;
  padding-right: 10rem; }
  @media only screen and (max-width: 991px) {
    .section-info {
      padding-left: 5rem;
      padding-right: 5rem; } }
  @media only screen and (max-width: 575px) {
    .section-info {
      padding-left: 3rem;
      padding-right: 3rem; } }
  .section-info .row-1 {
    margin-bottom: 10rem; }
    @media only screen and (max-width: 991px) {
      .section-info .row-1 {
        margin-bottom: 5rem; } }
    @media only screen and (max-width: 575px) {
      .section-info .row-1 {
        margin-bottom: 3rem; } }
  .section-info .about__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 0 5rem; }
    @media only screen and (max-width: 991px) {
      .section-info .about__text {
        padding: 0 2rem; } }
    @media only screen and (max-width: 575px) {
      .section-info .about__text {
        padding: 0 0; } }
    .section-info .about__text p {
      font-size: 1.6rem; }
      @media only screen and (max-width: 575px) {
        .section-info .about__text p {
          font-size: 1.4rem; } }
    @media only screen and (max-width: 991px) {
      .section-info .about__text {
        padding-top: 2rem; } }
  .section-info .about__img {
    position: relative;
    background-color: #000;
    padding: 0; }
    .section-info .about__img img {
      width: 100%;
      height: 30rem;
      -o-object-fit: cover;
      object-fit: cover;
      opacity: 0.6; }
    .section-info .about__img .img-label {
      position: absolute;
      background: #fff;
      width: 15rem;
      height: 5rem;
      top: 5px;
      left: 0;
      padding-left: 0.3rem;
      opacity: 0.8; }
      .section-info .about__img .img-label p {
        color: #192C4C;
        font-weight: 700;
        font-size: 3rem; }

.section-partner .partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .section-partner .partners .partner {
    padding: 1rem; }
    .section-partner .partners .partner img {
      width: 25rem; }
  @media only screen and (max-width: 575px) {
    .section-partner .partners {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.section-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .section-contacts .section__img {
    width: 50%;
    padding: 2rem; }
    .section-contacts .section__img img {
      width: 80%; }
    @media only screen and (max-width: 991px) {
      .section-contacts .section__img {
        display: none; } }
  .section-contacts .section__text {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    @media only screen and (max-width: 991px) {
      .section-contacts .section__text {
        width: 100%; } }
    .section-contacts .section__text .btn {
      margin-top: 1rem;
      border: 1px solid #CE9523;
      color: grey;
      font-size: 1.5rem; }
      .section-contacts .section__text .btn:hover {
        color: #fff; }
  .section-contacts input,
  .section-contacts textarea {
    padding: 2rem;
    border: 1px solid #CE9523;
    outline: none;
    width: 100%; }
    .section-contacts input:focus,
    .section-contacts textarea:focus {
      border-color: #192C4C;
      -webkit-box-shadow: none;
      box-shadow: none; }
