.primary-button {
  outline: none;
  border: 2px solid $secondary;
  font-size: 1.6rem;
  background: transparent;
  padding: 0.6rem;
  color: $primary;
  font-weight: 500;
  width: 13rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  &:hover {
    background-color: $secondary;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  &--lg {
    color: #fff;
    width: 16rem;
    padding: 1.2rem;
  }
  &--modal{
    width: 7rem;

  }
  &--white {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 100;
    color: #fff;
    border: 3px solid #fff;
    font-weight: 800;
    text-transform: uppercase;
    width: 20rem;
    padding: 1.5rem;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: .5;
    &:hover {
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%) scale(1.1);
              transform: translate(-50%, -50%) scale(1.1);
      color: #fff;
    }
  }
}
