*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-size: 62.5%;
  margin: 0 !important;
  padding: 0 !important;
  font-family: 'Lato', sans-serif;

}
body{
	position: absolute;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: #081624;
	font-weight: 600;
}

p {
	font-size: 18px;
	color: #73778e;
	line-height: 1.6;
}



input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

a,
a:hover,
a:focus {
	text-decoration: none;
	outline: none;
}

ul,
ol {
	padding: 0;
  margin: 0;
  list-style: none;
}

section{
	padding-top: 8rem !important;
}

